[submodule ".config/mpv/scripts/mpvacious"]
	path = .config/mpv/scripts/mpvacious
	url = https://github.com/Ajatt-Tools/mpvacious
[submodule ".config/mpv/scripts/mpvSockets"]
	path = .config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets
